.card_content {
    width: 1400px;
    max-width: calc(100% - 30px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
    padding-bottom: 30px;
  }
  
  .section_pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
  
  .section_pagination .div_pagination {
    width: auto;
    background-color: #5865f2;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .section_pagination .div_pagination .item_izquierdo,
  .section_pagination .div_pagination .item_derecho {
    background-color: #5865f2;
    height: 30px;
    width: 30px;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  
  .section_pagination .div_pagination .item {
    color: white;
    height: 30px;
    width: 40px;
    display: grid;
    place-items: center;
    background-color: #424242;
    border: 1px solid #5865f2;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3em;
    font-weight: 700;
  }
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container h1 {
  font-size: 6em;
  margin-bottom: 0.3em;
}

.container_p {
  margin-top: 3em;
  margin-bottom: 5em;
}

.filters{
  display: flex;
  align-items: center;
  margin-left: 12em;
  justify-content: space-between;
}


.page-button {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 2px;
  padding: 5px 10px;
}

.page-button:hover {
  background-color:  #ff0000;
  cursor: pointer;
}

.active {
  background-color: #ff0000;
  color: #000000;
}

h3{
  color: white;
}

.flechas{
  background-color: #000000;
  color: white;
}
.selects{
  background-color: #000000;
  color: white;
  border-radius: 1em;
}

img{
  width: 40%;
  }


