.pagination {
   display: flex;
   justify-content: center;
   margin-top: 0.2em;
}

.card_content {
  width: 75%;
  max-width: calc(100% - 30px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
  padding-bottom: 30px;
}


.pagination button {
  margin: 0.3em;
  padding: 0.5em 0.8em;
  border-radius: 3em;
  font-weight: 700;
}

.filters{
  display: flex;
  align-items: center;
  margin-left: 13%;
  justify-content: space-between;
}

.filters .filtros h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


.page-button {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.page-button:hover {
  background-color:  #ff0000;
}

.active {
  background-color: #ff0000;
  color: #000000;
}

h3 {
  color: white;
}

.flechas {
  background-color: #000000;
  color: white;
}
.selects{
  background-color: #000000;
  color: white;
  border-radius: 1em;
}

img {
  width: 60%;
}

